# Base de Datos
DB_USERNAME=postgres
DB_PASSWORD=change-me

# JWT
JWT_PUBLIC_KEY=
JWT_ISSUER=apilamiento-system
JWT_EXPIRATION=900

# OIDC / Microsoft Entra ID
OIDC_TENANT_ID=00000000-0000-0000-0000-000000000000
OIDC_CLIENT_ID=00000000-0000-0000-0000-000000000000
OIDC_CLIENT_SECRET=change-me
OIDC_REDIRECT_URI=http://localhost/api/v1/auth/callback

# Quarkus Profile (dev, qa, prod)
QUARKUS_PROFILE=dev

# Mobile / Expo
EXPO_PUBLIC_API_URL=http://192.168.1.50:8080/api/v1
